<%-include("header") -%>
<h1>About us </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium perferendis eveniet unde? Obcaecati beatae non sed odio fugit illum exercitationem perspiciatis eos, a dicta, iusto labore laboriosam! Tempora, unde.</p>

<%-include("footer") -%>